body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

#title {
  color: white;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

#navigation {
  display: flex;
  gap: 16px;
}

#navigation button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  /*  border: 2px solid white;*/
}

#navigation button:hover {
  background-color: white;
  color: black;
}

/* For Landing Page */
#landingPageContent {
  text-align: center;
  padding: 32px;
}

#landingPageContent img {
  width: 200px;
  max-width: 100%;
  margin-top: 16px;
}

/* For Registration Page and Login*/
.form-container {
  max-width: 500px;
  margin: 48px auto;
  padding: 0 16px;
}

#registerForm, #loginForm{
  border: 1px solid #ccc;
  padding: 32px;
  border-radius: 10px;
}

#registerForm label, #loginForm label{
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

#registerForm input, #loginForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

#registerForm .error, #loginForm .error {
  color: red;
  font-size: 13.6px;
  display: none;
  margin-top: -12.8px;
  margin-bottom: 16px;
}

#registerForm button[type="submit"], #loginForm button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 11.2px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}

#registerForm button[type="submit"]:hover, #loginForm button[type="submit"]:hover {
  background-color: #0056b3;
}

#registerForm button[type="reset"], #loginForm button[type="reset"] {
  background-color: #ccc;
  color: black;
  padding: 11.2px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}

#registerForm button[type="reset"]:hover, #loginForm button[type="reset"]:hover {
  background-color: #999;
}

.form-buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.form-buttons button {
  flex: 1;
}

.error {
  color: red;
  font-size: 14.4px;
  margin-top: 4.8px;
  display: none;
}

.formTitle{
  text-align: center;
}

/* Movie Card Styles */
#movieList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin: 48px;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-icon {
  width: 200px;  
  max-width: 100%;  
  height: auto; 
  margin-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.movie-card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-card p {
  margin: 0;
  font-size: 14px;
  color: #444;
}


.pageTitle {
  text-align: center;
  margin-top: 30px;
  font-size: 32px;
}